<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Audio, video, screen rentals and services">
    <meta name="keywords" content="audio equipment, video equipment, screen, projectors, fm transmitters, fm receivers, rentals, services, louisville, ky, kentucky">
    <meta name="author" content="Mike Campbell">
    <script src="https://kit.fontawesome.com/294f7f9ce0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Louisville Media Solutions</title>
    <link rel="shortcut icon" type="image/ico" href="favicon.ico"/>
  </head>
  <body>
    <header>
        <div class="container fixed-top">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
          <a class="navbar-brand" href="/">
            <div id="navbrandTitle">Louisville Media Solutions</div>
          </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/presentationServices">Services</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/screenRentals">Screen Rentals</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/packageAddOns">Screen Package Add-ons</a>
                </li>
                <a href="mailto:info@louisvillemediasolutions.com"><button class="btn my-2 my-sm-0 btn-danger" type="submit">Contact Us!</button></a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
    </header>
    <body class="bg-dark container text-center mb-4 text-light"> 
        <div class="display-1 mt-5 mb-4">Package Add-ons Order</div>
        <div class="h3">Name: <span class="h3" id="FNaddOnOrderSpann"><%= addOnsReservation['First Name'] %> </span><span class="h3" id="LNaddOnOrderSpann"><%= addOnsReservation['Last Name'] %></span></div>
        <div class="h3">Order Number: <span class="h3" id="addOnOrderNumberSpann"><%= addOnsReservation._id %></span></div>
        <div class="h3">Reservation Date: <span class="h3" id="addOnOrderDateSpann"><%= addOnsReservation['Reservation Date'] %></span></div>
        <br><div class="h3 mt-2">Add-ons Ordered</div><br>
        <div class="list-group">
          <span id="addOns Ordered">
            <div class="h4"><%= addOnsReservation.addList %></div>
          </span>
        </div>
    <%- include('includes/footer') %>