<%- include('includes/header') %>
    <body class="bg-dark container mb-4"> 
      <div class="jumbotron bg-dark text-light">
        <h1 class="display-4">Screen Rental Packages</h1>
        <p class="lead">We have a variety of screen rental packages for your private get together or public event, whatever the size.</p>
        <hr class="my-4">
        <p>Our screen packages are a perfect economical alternative to renting equipment if you have a movie night or short event in mind. We include the screen, 5,000 lumen large-venue projector, sound system and staff during your event. Great solutions for patio and deck parties to large field parties. We even have generators available for an additional fee so if you have a large open space available and no power, we've got your covered. Customers can also connect up their game consoles or customer owned equipment for game-nights on our giant screens!</p>
        <p>We start set-up 2 hours prior to sunset and play customer chosen content on our sound systems until the start of your main content. Please keep in mind that bright nearby light sources can effect the picture quality.</p>
        <p>We provide a "no touch" service with all of our equipement that might come into contact with our customers either UVC sterilized as with our FM receivers or wiped down intiseptically as with our rental equipment. We follow all CDC guidlines. The safety and wellbeing of our customers is our #1 priority.</p>
      </div>
      <div class="container pb-3 mb-4">
        <!-- Bootstrap card-deck with screen rental pakcage pricing -->
        <div class="card-deck" id="r-b-display">
          <div class="card mt-5">
            <img src="smallscreen.jpg" class="card-img-top" alt="small screen">
            <div class="card-body bg-secondary text-light">
              <h5 class="card-title text-center">Small Size Screen Rental Package<br>$200</h5>
              <p class="card-text">
                <ul>
                  <li>
                    100" Diagonal Screen and Frame
                  </li>
                  <li>
                    150 Watt Sound System with 4 Channel Mixer
                  </li>
                  <li>
                    One Wired Mic
                  </li>
                  <li>
                    Blu-ray Player
                  </li>
                </ul>
              </p>  
            </div>
          </div>
          <div class="card mt-5">
            <img src="13footscreen3.jpg" class="card-img-top" alt="13 foot screen">
            <div class="card-body bg-secondary text-light">
              <h5 class="card-title text-center">Medium Size Screen Rental Package<br>$275</h5>
              <p class="card-text">
                <p class="card-text">
                  <ul>
                    <li>
                      17 Foot Inflatable Screen with 13 foot Diagonal Viewing Area
                    </li>
                    <li>
                      1,000 Watt Sound System with 7 Channel Mixer
                    </li>
                    <li>
                      One Wireless Bluetooth Mic
                    </li>
                    <li>
                      Blu-ray Player
                    </li>
                  </ul>
                </p>  
              </p>
            </div>
          </div>
          <div class="card mt-5">
            <img src="20footscreen3.jpg" class="card-img-top" alt="20 foot screen">
            <div class="card-body bg-secondary text-light">
              <h5 class="card-title text-center">Large Size Screen Rental<br>Package<br>$350</h5>
              <p class="card-text">
                <ul>
                  <li>
                    24 Foot Inflatable Screen with 20 foot Diagonal Viewing Area
                  </li>
                  <li>
                    1,000 Watt Sound System with 7 Channel Mixer
                  </li>
                  <li>
                    One Wireless Bluetooth Mic
                  </li>
                  <li>
                    Blu-ray Player
                  </li>
                </ul>
              </p>
            </div>
          </div>
        </div>
        <h7 class="text-light">* Screen Images are Simulated</h7>
        <div>
          <p class="res-button">
            <!-- Button trigger modal -->
            <button type="button" class="btn btn-lg btn-inline btn-danger mt-5" data-toggle="modal" data-target="#sreservationModal">
              Request a Reservation!</button>
              
              <!-- Modal -->
<div class="modal fade" id="sreservationModal" tabindex="-1" aria-labelledby="sreservationModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" data-target="#sreservationModal">Reservation Request</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>
          Please fill out the form below and we'll get back to you as soon
          as possible
        </p>
        <form id="screenReservation" action="/sendScreenRentalReservation" method="POST">
          <div class="row">
            <div class="col">
              <input type="text" class="form-control" required="required" id="scrFirstName" name="First Name" placeholder="First Name">
            </div>
            <div class="col">
              <input type="text" class="form-control" required="required" id="scrLastName" name="Last Name" placeholder="Last Name">
            </div>
          </div>
          <div class="form-group">
          <div class="form-group">
            <label for="Email">Email Address</label>
            <input
              type="email"
              class="form-control"
              name="Email"
              id="scrEmail"
              required="required"
              placeholder="name@example.com"
            />
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="form-group">
            <label for="phone">Phone Number</label>
            <input
              type="tel"
              class="form-control"
              id="scrTel"
              name="Phone Number"
              pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"
              required="required"
              placeholder="502-555-5555"
            />
            <div class="form-group">
              <label for="inputAddress">Address</label>
              <input type="text" class="form-control" id="scrAddress" required="required" name="Address" placeholder="1234 Main St">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Address 2</label>
              <input type="text" class="form-control" id="scrAddress2" name="Address 2" placeholder="Apartment, studio, or floor">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="inputCity">City</label>
                <input type="text" class="form-control" required="required" name="City" id="scrCity">
              </div>
              <div class="form-group col-md-4">
                <label for="inputState">State</label>
                <select id="scrState" class="form-control"  name="State">
                  <option selected>Kentucky</option>
                  <option>Indiana</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="scrZip">Zip</label>
                <input type="text" class="form-control" required="required" id="scrZip" name="Zip Code">
              </div>
            </div>  
          <div class="form-group">
            <label for="packageOptions">Screen Package Options</label>
            <select class="form-control" id="screenOptions" name="Screen Size Option">
              <option value="Small Screen Package">Small Screen Package</option>
              <option value="Medium Screen Package">Medium Screen Package</option>
              <option value="Large Screen Package">Large Screen Package</option>
            </select>
          </div>
          <div class="form-group">
              <label for="resDate">Reservation Date Requested</label><br>
              <input type="date" id="scrDate" required="required" name="Reservation Date" value="Reservation Date">
          </div>
          <div class="form-group">
            <label for="srequests">Additional Requests</label>
            <textarea
              id="srequests"
              rows="3"
              class="form-control"
              name="Additional Requests"
              value="Additional Requests"
            ></textarea>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-danger" id="scrSubmit">Send Request</button>
          </div>
        </form>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
          </p>
          <p class="text-light pt-5">   
            Reservations for screen rental packages must be made at least 4 days in advance with a $50 returnable deposit. Full payment is required atleast 48 hours before your event. In the case of adverse weather a full refund will be provided with an opportunity to reschedule your event on an alternative day during the same week. We reserve the right to cancel any event in the case of forcasted adverse weather or in the event of sudden adverse weather that may cause damage to our equipment. Main media content is limited to one movie or 2 hours.
          </p>
          <p class="text-light pt-1">
            Customer is to provide all content. If you plan on charging for your event and do not own the film rights to your content we recommend purchasing a license from <a href="https://www.swank.com/" target="_blank" class="text-decoration-none">Swank</a>. We are happy to provide assistance if needed.
          </p>
          <p class="text-light pt-1">
            If equipment is to be set up on concrete prior notice is required.
          </p>
        </div>
        
                <hr class="my-4">
            <!-- Movie Roulette Card-->    
            <div class="d-flex justify-content-center">
            <div class="card text-center" id="movRouletteCard">
              <div class="card-body bg-secondary text-light">
                <h5 class="card-title">Movie Roulette</h5>
                <p class="card-text">Spin the wheel. Get a random movie pick.</p>
                <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#moviepickModal" id="moviepick">Launch Movie Picker</button>
              </div>
            </div>
          </div>
          <!--Movie Modal -->
          <div class="modal fade" id="moviepickModal" tabindex="-1" role="dialog" aria-labelledby="moviepickModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-sm" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Get a random movie pick!</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <form>
                    <div class="row">
                      <div class="col">
                        <div class="form-group">
                          <label for="genre">Movie Genre</label>
                          <select class="form-control" id="movGenre" name="movieGenre">
                            <option value="">All</option>
                            <option value="28">Action</option>
                            <option value="12">Adventure</option>
                            <option value="16">Animated</option>
                            <option value="35">Comedy</option>
                            <option value="80">Crime</option>
                            <option value="99">Documentary</option>
                            <option value="18">Drama</option>
                            <option value="10751">Family</option>
                            <option value="14">Fantasy</option>
                            <option value="36">History</option>
                            <option value="27">Horror</option>
                            <option value="10402">Music</option>
                            <option value="9648">Mystery</option>
                            <option value="10749">Romance</option>
                            <option value="878">Science Fiction</option>
                            <option value="53">Thriller</option>
                            <option value="10770">TV Movie</option>
                            <option value="10752">War</option>
                            <option value="37">Western</option>
                          </select>
                        </div>
                      </div>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-danger" id="movspin">SPIN!</button>
                </div>
                </form>
              </div>
              </div>
            </div>
          </div>
        </div>


        <hr class="my-4">
          <p class="text-light text-center">We have numerous payment options available through PayPal. We will provide a payment link in your return email after your reservation is finalized. We can also accept traditional forms of payment such as check, cash, or money order.</p>
          <img src="cc-badges.png" alt="PayPal" class="rounded mx-auto d-block"/>
      </div>
      </div>
      <%- include('includes/footer') %>
      <%- include('includes/addOnOrderModal') %>
      <%- include('includes/screenOrderModal') %>
      <%- include('includes/serviceOrderModal') %>
      <%- include('includes/orderModal') %>
      <script src="js/scrjssheet.js"></script>